@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.example-spacer {
    flex: 1 1 auto;
   }

.addEmployee{
    color: white;
    text-decoration-color: darkblue;
}

  
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  
  .table-container{
    width: 1248px;
    padding-top: 20px;
    margin: 0 auto;
        mat-form-field {
        width: 100%;   
        }
  }